<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burger Town!!!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>

	<nav class=" navbar navbar-light topbun">
		<span class="navbar-text">
			BURGER TOWN!!!
		</span>
	</nav>

	<nav class=" navbar navbar-light lettuce">
		<span class="navbar-text">
		</span>
	</nav>

	<nav class=" navbar navbar-light ketchup">
		<span class="navbar-text">
		</span>
	</nav>

<div class="container-fluid">
	{{{ body }}}
</div>
	
	
</body>

</html>