{{!-- <h1>Burger Town!!!</h1> --}}
<div class="text-center m-3">
  <h1>BURGER TOWN!!!</h1>
<img src="https://i.imgur.com/zfjFeqX.gif" alt="cosmic burger">
</div>

<p><h4>Welcome to Burger Town! Interact with each of the burgers by marking them as eaten, or not eaten.  You may also delete any burger, or create your own and add it at the bottom using the form.</h4></p>

<div class="container">
<h2 class="text-center m-3">Burgers That Are Not Eaten</h2>


<ul class="">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2 class="text-center m-3">Burgers That Have Been Eaten</h2>

<ul class="">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
<div class="text-center">
<h2 class="m-3">Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Eaten
  </div>

  <button class="btn-lg btn-block btn-primary addbutton" type="submit">Add Burger</button>
</form>
</div>
</div>