body {
    background-color: #88472e
}

.topbun {
    background-color: #e5cb7a;
}

.ketchup {
    background-color: #ec3521
}

.lettuce {
    background-color: #32c704
}

.bottombun {
    background-color: #e5cb7a; 
}

li {
    font-size: 16px;
}